In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

In [5]:
obje = pd.Series([1,"İbrahim",31,"Gaziantep"])    # Bir seri halinde veri girişi tanımladım ve bunu obje ismini verdiğim değişkene tanımladım.
obje

0            1
1      İbrahim
2           31
3    Gaziantep
dtype: object

In [6]:
obje[0]

1

In [7]:
# obje nesnesini dizi şeklinde yazdırmak ve verilerini görmek istiyorsam.
# alttaki şekilde yazıp çalıştırmam lazım.
obje.values

array([1, 'İbrahim', 31, 'Gaziantep'], dtype=object)

--> index veri tipini değiştiriyorum.

In [8]:
# Eğer objenin index değerini değiştirmek istersem.

obje = pd.Series([1,"İbrahim",31,"Gaziantep"],index=["a","b","c","d"])
obje

a            1
b      İbrahim
c           31
d    Gaziantep
dtype: object

In [11]:
# İndex türünü değiştirdiğim için burada veriyi çağırırken farklı türde bir çağırma yöntemi ile çağıyorum.

obje["a"]

1

In [12]:
# eğer objenin index yapısını görmnek istersen.

obje.index

Index(['a', 'b', 'c', 'd'], dtype='object')

liste, tuple, sözlük veri tiplerini Series yapısına çevirebiliriz.

In [19]:
# Sözlük veri yapısında gelen veriyi series veri yapısını dönüştürmüş olduk.

puan = {
    "ali":30,
    "mehmet":50,
    "aslı":40,
    "ibrahim":85,
    "melih":70
}

nt = pd.Series(puan)
nt

ali        30
mehmet     50
aslı       40
ibrahim    85
melih      70
dtype: int64

In [20]:
nt["ali"]

30

In [22]:
nt[nt>50]

ibrahim    85
melih      70
dtype: int64

# Bollean (mantıksal operatorleri) series içinde kullanabiliriz.

In [23]:
# örenğin notları 85'den küçük olan mantıksal değerleri gösteriçektir.

nt<85

ali         True
mehmet      True
aslı        True
ibrahim    False
melih       True
dtype: bool

In [24]:
# Var olan değerini değiştirebilirim.

nt ["ibrahim"] = 90

In [25]:
nt["ibrahim"]

90

In [26]:
# Puanı 49 altında olan öğrencilerin notunu 50 olan değere çekmek.

nt [nt<49] = 50

In [27]:
nt

ali        50
mehmet     50
aslı       50
ibrahim    90
melih      70
dtype: int64

In [28]:
# Herhangi bir değerin veride olup olmadığını kontröl edebiliriz.

"ibrahim" in nt
# "ibrahim" isminin veride olup olmadığını kontrol eder.

True

In [29]:
"halil" in nt

False

Series veri yapıları üzerinde matematiksel işlemler yapılabilir.

In [30]:
# tüm nt içindeki değerlei 10 böleçeğim.

nt/10

ali        5.0
mehmet     5.0
aslı       5.0
ibrahim    9.0
melih      7.0
dtype: float64

In [31]:
nt*10

ali        500
mehmet     500
aslı       500
ibrahim    900
melih      700
dtype: int64

In [32]:
nt**2

ali        2500
mehmet     2500
aslı       2500
ibrahim    8100
melih      4900
dtype: int64

In [34]:
# eksik değer vermı yok mu onu kontrol eder.

nt.isnull()
# False döndererek eksik değer olmadığını kontrol eder.

ali        False
mehmet     False
aslı       False
ibrahim    False
melih      False
dtype: bool