# Seçme İndeksleme Filtreleme

In [1]:
import pandas as pd
import numpy as np

In [2]:
# İçerisinde beş tane index değeri tutan bir obje tanımlamasını gerçekleştiriyorum.

obje = pd.Series(np.arange(5),index=["a","b","c","d","e"])

In [3]:
obje

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [4]:
# Objede bir satırı değerini yazdırmak istersem yapmam gereken şu olmalıdır.

obje["c"]

2

In [6]:
# Aynı şeyi index numarasını girerekte yapabiliriz.

obje[1]

1

In [7]:
# Seçme İndeksleme Filtrelemeeriyi dilimlemek istersek yapmamız gereken şu olmalıdır.

obje[0:3]

a    0
b    1
c    2
dtype: int32

In [8]:
# Belirli olan satırı ekrana yazdırmak istersek yapmamız gereken şu olmalıdır.

obje[["a","e"]]

a    0
e    4
dtype: int32

In [10]:
# Aynı şekilde index numarası girerekte satırı ekrana yazdırabiliriz.

obje[[0,4]]

a    0
e    4
dtype: int32

In [11]:
# İkiden küçük olan değerleri ekrana yazdırmak istersem ise yapmam geeken şu olmalıdır.

obje[obje<2]

a    0
b    1
dtype: int32

In [14]:
# Veri dilimlemesi yaparken son dlim belirtecinde son index dilime dahildir.

obje["a":"c"]

a    0
b    1
c    2
dtype: int32

In [16]:
# Dilimlenen kısma değer ataması yapabilirim.

obje["a":"c"]=5
obje

a    5
b    5
c    5
d    3
e    4
dtype: int32

In [19]:
# DataFrame veri yapısında veriseti oluşturmak istediğimde yapmam gereken şu olmalıdır.
# On altı'ya kadar veri bir tablo tanımladım ve bu tabluyu 4*4 şeklinde tanımlamasını yaptım.

veri = pd.DataFrame(np.arange(16).reshape(4,4),index=["Bursa","İzmir","İstanbul","Ankara"],
                   columns=["bir","iki","uc","dort"])
veri

          bir  iki  uc  dort
Bursa       0    1   2     3
İzmir       4    5   6     7
İstanbul    8    9  10    11
Ankara     12   13  14    15

In [20]:
# İki ismindeki sütünün değerlerini ekrana yazmak istediğimde ise yapmam gereken şu olmalıdır.

veri["iki"]

Bursa        1
İzmir        5
İstanbul     9
Ankara      13
Name: iki, dtype: int32

In [21]:
# irden fazla sütün almak istersem yapmam gereken şu olmalıdır.
# Burada dikkat etmeniz gereken asıl önemli nokta birden fazla sütün ekrana yazdırmak istediğim zama liste içinde liste yapısını kullandım.

veri[["bir","iki"]]

          bir  iki
Bursa       0    1
İzmir       4    5
İstanbul    8    9
Ankara     12   13

In [22]:
# Oluşturduğum DataFrame yapısı içerindeki veri yapısını dilimleyelim. Onu ise şu şekilde yapıyorum.

veri[:3]

          bir  iki  uc  dort
Bursa       0    1   2     3
İzmir       4    5   6     7
İstanbul    8    9  10    11

In [33]:
# Eğer ben bir satırdaki değerlerin belli bir değerden büyük olursa ekrana yazdır dersem.

veri1 = pd.DataFrame(np.arange(16).reshape(4, 4), index=["Bursa", "İzmir", "İstanbul", "Ankara"],
                    columns=["bir", "iki", "uc", "dort"])

veri1[veri1["dort"] > 5]

          bir  iki  uc  dort
İzmir       4    5   6     7
İstanbul    8    9  10    11
Ankara     12   13  14    15

In [35]:
# Veri içerisindeki beş'ten küçük olan değerlerin yerine 0 atamasını yapıyorum.

veri[veri<5]=0
veri

          bir  iki  uc  dort
Bursa       0    0   0     0
İzmir       0    5   6     7
İstanbul    8    9  10    11
Ankara     12   13  14    15

DataFrame indexleme için loc ve iloc operotörleride kullanabilir.

# bu operotor ile satır ve sütünların  alt kümelerini seçebiliriz.
# bu seçme işlemi için numaraları kullanmak istersek "iloc" etiket kullanmak istersek "loc" şeklinde kullanmalıyız.

In [36]:
# Öreneğin birinci index'in satır ve sütünü görmek istersek.

veri.iloc[1]

bir     0
iki     5
uc      6
dort    7
Name: İzmir, dtype: int32

In [37]:
# seçmek istediğim satırın belirli sütününü seçmek istersek eğer şu şekilde yapmalıyız.

veri.iloc[1,[1,2,3]]

iki     5
uc      6
dort    7
Name: İzmir, dtype: int32

In [39]:
# Birden çok satıın bellirli sütünlarınıda seçebiliriz onu ise şu şekilde yapmalıyız.

veri.iloc[[1,3],[1,2,3]]

        iki  uc  dort
İzmir     5   6     7
Ankara   13  14    15

In [40]:
# Etiket kullanımı yani "loc" kullanımı ile veri çağırırsam bu şekilde yapmalıyım.

veri.loc[["Ankara"],["bir","iki","uc"]]

        bir  iki  uc
Ankara   12   13  14

In [41]:
# Eğer ankara'ya kadar olan değerlerin dördüncü stün değerlerini yazdırmak istersem yapmam gereken şu olmalıdır.

veri.loc[:"Ankara","dort"]

Bursa        0
İzmir        7
İstanbul    11
Ankara      15
Name: dort, dtype: int32

In [50]:
# Eğer etiketlenmemiş değerin çağılma işlemini yaparsak hatta olmamız çok olasıdır.

veri2 = pd.Series(np.arange(5),index=["a","b","c","d","e"])
veri2

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [49]:
# Etiketlenmediği için hatta aldık.

veri2[-1]

KeyError: -1

In [51]:
# Eğer bu indexleme işlemini yaparsan ise bu hataları almayaçağım.

veri2[-1]

4