In [1]:
import pandas as pd

In [6]:
s = pd.Series([1,2,3,4,5], index=["a","b","c","d","e"])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
s["a"]

1

"reindex" methodu belirlediğimiz methodu yeniden düzenlmeye yarar.

In [8]:
# Burada "reindex" methodunu kullanarak yaptığım index yerlerini değiştirmek oldu.

s2 = s.reindex(["b","d","c","a","e","f"])
s2

b    2.0
d    4.0
c    3.0
a    1.0
e    5.0
f    NaN
dtype: float64

In [10]:
# Reindex methodu ile olmayan indexlere atama yapabilirim.
# burada bazı renkler girip indexlerini ikişer atlayaçak şekilde tanımlamasını yapıyorum.
s3 = pd.Series(["mavi","mor","turuncu"], index=[0,2,4])
s3

0       mavi
2        mor
4    turuncu
dtype: object

In [11]:
# Burada ise "ffill" methodunu kullanarak 3 değeri bulunan ve 2 şey atlayan indexleri birer tana artırarak 6 adete çıkarıyorum.

s3.reindex(range(6),method="ffill")

0       mavi
1       mavi
2        mor
3        mor
4    turuncu
5    turuncu
dtype: object

In [12]:
# Dataframe veri yapısında satır,sütün veya her ikisi için bu methot kullanabiliri.
# Bu özeliği kullanmak için numpy kütüpanesini import etmek zorundayım.

import numpy as np

In [15]:
df = pd.DataFrame(np.arange(9).reshape(3,3), index=["a","b","c"],
                 columns=["ali","efe","can"]
                 )
df

   ali  efe  can
a    0    1    2
b    3    4    5
c    6    7    8

In [16]:
# İşte burada "reindex" veri yapısını kullanarak var olan dataframe veri yapısındakli verileri manitule etmaye başlıyorum.

df2 = df.reindex(["d","c","a","b"])
df2

   ali  efe  can
d  NaN  NaN  NaN
c  6.0  7.0  8.0
a  0.0  1.0  2.0
b  3.0  4.0  5.0

In [18]:
# Şimdi ise dataFrame veri yapısndaki verilerin sütün türündeki veri yapısını değiştereceğim.


isim = ["efe","nur","ali","güzelDoktor"]
df.reindex(columns=isim)

   efe  nur  ali  güzelDoktor
a    1  NaN    0          NaN
b    4  NaN    3          NaN
c    7  NaN    6          NaN

In [19]:
# loc ve iloc method ile satır ve sütünları seçebiliyorduk şimdi ise bu satırları yeniden indexleyebiliriz.

df.loc[["c","a","b"]]

   ali  efe  can
c    6    7    8
a    0    1    2
b    3    4    5

In [20]:
# "drop" methodu ile istediğimiz satır veya sütünü silebiliriz.

veri = pd.Series(np.arange(5.0),index=["a","b","c","d","e"])
veri

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [21]:
# burda o silme işlemini yapıyorum.

yeni_veri = veri.drop("b")
yeni_veri

a    0.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [22]:
# Birden fazla satır silmek istersem ise bunu liste şeklinde tanımlayıp silme işlemini yapıyorum.

veri.drop(["a","c"])

b    1.0
d    3.0
e    4.0
dtype: float64

In [25]:
veriler = pd.DataFrame(np.arange(16).reshape(4,4), 
                      index=["ali","ibrahim","aslı","bilge"],
                      columns=list("ABCD") 
                      )
veriler

          A   B   C   D
ali       0   1   2   3
ibrahim   4   5   6   7
aslı      8   9  10  11
bilge    12  13  14  15

In [26]:
# Şimdi ali ve aslı satırlarını drop methodunu kullanarak silmeye çalışaçağım 

veriler.drop(["ali","aslı"])

          A   B   C   D
ibrahim   4   5   6   7
bilge    12  13  14  15

# Bu slime işlemleri için satır ve sütün silmek için yapılması gereken işlemler.
# sütün silmek için "axis=1"
# satır silmek için "axis=0"

In [27]:
# Şimdi bir sütün silelim

veriler.drop("A",axis=1)

          B   C   D
ali       1   2   3
ibrahim   5   6   7
aslı      9  10  11
bilge    13  14  15

In [28]:
# şimdi ise bir satır silelim.

veriler.drop("ali", axis=0)

          A   B   C   D
ibrahim   4   5   6   7
aslı      8   9  10  11
bilge    12  13  14  15

In [29]:
# "mean()" methodu içinde axis parametresi kullanabilir.

veriler

          A   B   C   D
ali       0   1   2   3
ibrahim   4   5   6   7
aslı      8   9  10  11
bilge    12  13  14  15

In [32]:
# şimdi sütünların ortalamasını almaya çalışaçağım.

veriler.mean(axis=0)   # burda axis=0 yazmak yerine axis="index" yazabilirim.

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [33]:
# şimdi satırların ortalamasını almaya çalışaçağım.

veriler.mean(axis=1)    # burda axis="1" yazmak yerine axis="columns" yazabilirim.

ali         1.5
ibrahim     5.5
aslı        9.5
bilge      13.5
dtype: float64